@import '/src/assets/variables.scss';
@import '/src/assets/animate.scss';

.card {
  position: relative;
  min-height: 360px;
  background-color: #161616;
  padding: 30px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
.wrap__title {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.title {
  text-wrap: nowrap;
  color: $color-focused;
  font-size: $font-size-h3;
}
.description {
  text-wrap: nowrap;
  font-size: $font-size-h3;
}
.wrap__add {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cost__wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
}
.cost {
  font-size: $font-size-cost;
}
.currency {
  color: $color-focused;
  font-size: $font-size-cost;
}
.button__add {
  position: absolute;
  right: 15px;
  bottom: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  transition: $transition-variable;
  &:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  }
}
.favorite {
  position: absolute;
  top: 25px;
  right: 25px;
}
.image {
  > img {
    width: 100%;
  }
}
