@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

$default-fonts: 'Exo 2', sans-serif;
$title-fonts: 'Exo 2', sans-serif;
$main-background: #131313;

$foreground: #ffffff;
$color-focused: #BAE005;
$color-discount: #818182;
$font-size-h1: 48px;
$font-size-h2: 42px;
$font-size-h3: 24px;
$font-size-h4: 16px;
$font-size-cost: 36px;
$font-size-cost-small: 20px;
$font-size-description: 28px;
$font-size-button-small: 12px;
$font-size-cost-large: 52px;
